<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso - CAC-Movies</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/register.css?v=1.1">
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="../">
                    <i class="fas fa-film"></i>
                    <span class="logo-texto">
                        CAC - Movies
                    </span>
                </a>
            </div>
            
            <!-- <a href="#"><img src="./img/registration_2/logo.svg" alt="logo"></a> -->
        </nav>
    </header>
    <main>
        <section class="form-wrapper">
            <h2>Iniciar sesión</h2>
            <form action="#" id="formLogin" method="GET" novalidate>
                
                <div class="form-control">
                    <label>Email</label>
                    <input type="email" required name="email" id="email">
                </div>
                <div class="error" id="error-email"></div>
                
                <div class="form-control">
                    <label>Contraseña</label>
                    <input type="password" required name="password" id="password">
                </div>

                <div class="error" id="error-password"></div>

                
                <button id="btn-send" >Dale!</button>
                <div class="form-help"> 
                    <a href="#">Necesitas ayuda?</a>
                </div>
            </form>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/check-user.js"></script>
    <script src="../static/js/validation-login-ev.js"></script>
</body>